[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
werkzeug = "*"
flask-restful = "*"
importlib-metadata = "*"
importlib-resources = "*"
ipdb = "*"
pytest = "*"
faker = "*"
sqlalchemy-serializer = "*"

[dev-packages]

[requires]
python_version = "*"
